/* Fonts Included */
@font-face {
    font-family: 'campton';
    src: url('../fonts/rene_bieder_-_campton_extralight_italic-webfont.woff2') format('woff2'),
         url('../fonts/rene_bieder_-_campton_extralight_italic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url('../fonts/rene_bieder_-_campton_extralight-webfont.woff2') format('woff2'),
         url('../fonts/rene_bieder_-_campton_extralight-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url('../fonts/rene_bieder_-_campton_thin_italic-webfont.woff2') format('woff2'),
         url('../fonts/rene_bieder_-_campton_thin_italic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url('../fonts/rene_bieder_-_campton_thin-webfont.woff2') format('woff2'),
         url('../fonts/rene_bieder_-_campton_thin-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url('../fonts/rene.bieder_campton.light.italic-webfont.woff2') format('woff2'),
         url('../fonts/rene.bieder_campton.light.italic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url('../fonts/rene.bieder_campton.light-webfont.woff2') format('woff2'),
         url('../fonts/rene.bieder_campton.light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url('../fonts/rene_bieder_-_campton_book_italic-webfont.woff2') format('woff2'),
         url('../fonts/rene_bieder_-_campton_book_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url('../fonts/rene.bieder_campton.book-webfont.woff2') format('woff2'),
         url('../fonts/rene.bieder_campton.book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url('../fonts/rene_bieder_-_campton_medium_italic-webfont.woff2') format('woff2'),
         url('../fonts/rene_bieder_-_campton_medium_italic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url('../fonts/rene.bieder_campton.medium-webfont.woff2') format('woff2'),
         url('../fonts/rene.bieder_campton.medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url('../fonts/rene_bieder_-_campton_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/rene_bieder_-_campton_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url('../fonts/rene.bieder_campton.bold-webfont.woff2') format('woff2'),
         url('../fonts/rene.bieder_campton.bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


/*** Helper CSS ***/
:root {
    --primary: #003763;
    --secondary: #F6B221;
    --tertiary: #808083;
    --green: #00A451;
    /* var(--primary); */
}
.text-primary,
.hover\:text-primary:hover{color: var(--primary);}
.bg-primary,
.hover\:bg-primary:hover{background: var(--primary);}
.border-primary,
.hover\:border-primary:hover{border-color: var(--primary);}


.text-secondary,
.hover\:text-secondary:hover{color: var(--secondary);}
.bg-secondary,
.hover\:bg-secondary:hover{background: var(--secondary);}
.border-secondary,
.hover\:border-secondary:hover{border-color: var(--secondary);}

.text-tertiary,
.hover\:text-tertiary:hover{color: var(--tertiary);}
.bg-tertiary,
.hover\:bg-tertiary:hover{background: var(--tertiary);}
.border-tertiary,
.hover\:border-tertiary:hover{border-color: var(--tertiary);}

.text-green,
.hover\:text-green:hover{color: var(--green);}
.bg-green,
.hover\:bg-green:hover{background: var(--green);}
.border-green,
.hover\:border-green:hover{border-color: var(--green);}

.text-2xs{font-size: 0.65em;}
.text-3xs{font-size: 0.55em;}
.text-4xs{font-size: 0.45em;}

.tracking-wider{letter-spacing: 3px;}
.tracking-widest{letter-spacing: 6px;}

.rounded-15{border-radius: 15px;}

.-z-10 {z-index: -10;}
.-z-20 {z-index: -20;}
.-z-30 {z-index: -30;}
.-z-40 {z-index: -40;}
.-z-50 {z-index: -50;}

.h-72 {height: 18rem;}
.h-80 {height: 20rem;}
.h-88 {height: 22rem;}
.h-96 {height: 24rem;}
.h-104 {height: 26rem;}
.h-112 {height: 28rem;}
.h-120 {height: 30rem;}
.h-128 {height: 32rem;}
.h-136 {height: 34rem;}
.h-144 {height: 36rem;}
.h-152 {height: 38rem;}
.h-180 {height: 40rem;}

.min-h-64 {min-height: 16rem;}
.min-h-72 {min-height: 18rem;}
.min-h-80 {min-height: 20rem;}
.min-h-88 {min-height: 22rem;}
.min-h-96 {min-height: 24rem;}
.min-h-104 {min-height: 26rem;}
.min-h-112 {min-height: 28rem;}
.min-h-120 {min-height: 30rem;}
.min-h-128 {min-height: 32rem;}
.min-h-136 {min-height: 34rem;}
.min-h-144 {min-height: 36rem;}
.min-h-152 {min-height: 38rem;}
.min-h-180 {min-height: 40rem;}

.w-full-05 {width: 105%;}
.w-full-10 {width: 110%;}
.w-full-15 {width: 115%;}
.w-full-20 {width: 120%;}
.w-full-25 {width: 125%;}
.w-full-30 {width: 130%;}
.w-full-35 {width: 135%;}
.w-full-40 {width: 140%;}
.w-full-45 {width: 145%;}
.w-full-50 {width: 150%;}

.max-w-0 {max-width: none;}
.max-w-2xs {max-width: 18rem;}
.max-w-3xs {max-width: 16rem;}
.max-w-4xs {max-width: 14rem;}
.max-w-5xs {max-width: 12rem;}
.max-w-6xs {max-width: 10rem;}


.font-campton{
    font-family: 'campton';
}

:not(.no-transition):hover{
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}


/*** Landing Page ***/
.bg-pattern{
    background: url("../img/white_pattern.png");
}

.tns-controls button{
    font-size: 0;
    width: 200px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.tns-controls button:first-child{
    background-image: url("../img/left-arrow.png");
    left: -60px;
}
.tns-controls button:last-child{
    background-image: url("../img/right-arrow.png");
    right: -40px;
}

html{
    font-size: 11px;
}
@media (min-width: 480px) {
    html{
        font-size: 12px;
    }
}

@media (min-width: 640px) {
    html{
        font-size: 13px;
    }
}
  
@media (min-width: 1024px) {
    html{
        font-size: 14px;
    }
}
  
@media (min-width: 1280px) {
    html{
        font-size: 16px;
    }
}
@media (min-width: 1600px) {
    html{
        font-size: 18px;
    }
}